/* ===MOBILE VERSION - for dimensions less than 600px*/
 body{
     display:grid;
     margin: 0px;
     background-color: #effbf2;
     grid-template-columns: 30% 100px;
 }

aside ul{
    list-style: square;
}
aside{
    margin: 0px;
     font-family: 'Montserrat', sans-serif;
     background-color: #b6f6d9;
     font-size: 14px;
     grid-column: 1;
}

#mainpagecontainer{
    display:grid;
    grid-template-rows: 200px 50px 100px 100px 50px;
}

header #Ulist{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    font-size: 16px;
}


main{
    display: grid;
    margin: 20px;
}



footer{
    display: flex;
    justify-content: center;
}

 h1, h2{
     text-align: center;
     color: #483D8B;
     font-family: 'Montserrat', sans-serif;
     font-size: 30px;
     padding: 20px;
}

 li{
     margin: 9px;
}

textarea{
display: grid;
border: solid;
border-color: #483D8B;
border-radius: 6px;
}

button{
    border: 0;
    height: 40px;
    padding: 0 20px;
    font-size: 14px;
    text-align: center;
    color: white;
    border-radius: 12px;
}

 #Newnote {
     background-color: #10A5E5;
}

 #Darkmode {
     background-color: grey;
}

.buttons-top{
    display: flex;
    padding: 10px;
    gap: 20px;
}

 #Newnote:hover {
     background-color:#0F97D2;
}

 #Darkmode:hover {
     background-color:black;
}


 #Cancel {
     background-color: #2883A4;
}

 #Save {
     background-color: #E97BAB;
}

.buttons-bot{
    display: flex;
    gap: 20px;
    padding: 20px;
}

 #Save:hover {
     background-color:#E1357F;
}

 #Cancel:hover {
     background-color: #16495B;
}


/* DESKTOP VERSION */
 @media (min-width: 600px) {
     body{
         height: 100%;
         background-color: #effbf2;
         display:grid;
         grid-template-columns: 0.5fr 3fr 1fr;
         grid-template-rows: 0.5fr 3fr;
    }

     h1, h2 {
         text-align: center;
         color: #483D8B;
         font-family: 'Montserrat', sans-serif;
         font-size: 36px;
         padding: 20px;
    }
     aside{
         background-color: #b6f6d9;
         border-radius: 5px;
         grid-row: 1/5;
         grid-column: 1/2;
         padding-bottom: 425px;
    }

     li{
         margin: 9px;
    }
    
     .buttons-top{
         display: flex;
         justify-content: space-between;
         padding: 20px;
    }

     .buttons-bot{
         display: flex;
         justify-content: flex-end;
         gap: 30px;
         padding: 20px;
    }
     footer{
         display: flex;
         justify-content: center;
         grid-row: 3/5;
         padding-bottom:90px;
    }
}
